<p>TechSys Power International was incorporated in 2004 to provide reliable, redundant power for facilities requiring 100% uptime.</p>  

<p>We are a licensed full service electrical contractor located in southern Virginia and serving clients' facilities world-wide.  Our maintenance division services Virginia, North Carolina, South Carolina, Pennsylvania, Georgia, Tennessee, and Maryland.</p>

<p>We also provide global battery replacement, energy savings and power quality services.<p>

<p>We hold the following certifications:</p>
<ul>
	<li>C&D Factory Authorized Installer</li>
	<li>Certified Cellwatch Battery Monitoring Installer</li>
	<li>APC Certified Channel Partner</li>
	<li>Red Cross First Aid</li>
	<li>Red Cross CPR</li>
	<li>SBA Small Business</li>
	<li>SBA HUB Zone</li>
	<li>Virginia SWAM</li>
	<li>CCR Registered</li>
	<li>EVA Registered</li>
</ul>
